<ion-content [fullscreen]="true">
  
  <h2>Score: {{score}}</h2>
  
  <div id="container">
    <ion-button color="none" class="{{verde}}"  (click)="botaoverde()"></ion-button>
    <ion-button color="none" class="{{vermelho}}" (click)="botaovermelho()"></ion-button>
  
    <ion-button color="none" class="{{amarelo}}" (click)="botaoamarelo()" ></ion-button>
    <ion-button color="none" class="{{azul}}" (click)="botaoazul()" ></ion-button>
  </div>
  <div id="startDiv">
    <ion-button  color="success"  class="start" (click)="start()"  [ngStyle]="{'display': display}">Start</ion-button>
  </div>


</ion-content>
