<style>
  @import url('http://fonts.cdnfonts.com/css/games');
</style>   
<ion-content>
  <div id="cores">
    <div class="verde"></div>
    <div class="vermelho"></div>
    <div class="amarelo"></div>
    <div class="azul"></div>
  </div>
  
  <div id="container">

    <ion-card class="preto">
      <ion-card-header>
        <p>Genius Game</p>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button routerLink="/home" color="none" class="start"><ion-icon name="play"></ion-icon>Start</ion-button>
      </ion-card-content>
    </ion-card>

    

  </div>
</ion-content>
